html {
    font-size: 0.8px;
}

body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #8dc63f;
    /* cursor: url('cursor.cur'), auto; */
}

.wrapper {
    margin: 0 auto;
    padding: 0 15rem;
    max-width: 960rem;
    background-color: white;
}

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 15rem;
    padding: 25rem 0;
}

.header p {
    margin: 0;
    color: #39930d;
    font-size: 22rem;
}

.header i {
    color: #5a5a5a;
    font-size: 14rem;
}

.name {
    display: flex;
}

.name b {
    display: block;
    font-size: 44rem;
}

.name img {
    width: 100rem;
    margin: 0 35rem;
}

.contact p {
    text-align: right;
}

.contact a {
    color: #39930d;
    text-decoration: none;
}

.main-img {
    height: 200rem;
    object-fit: cover;
    object-position: 70% 0;
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30rem;
}

.info {
    max-width: 600rem;
}

.info h1 {
    color: #39930d;
    font-size: 24rem;
}

.info p {
    color: #343434;
    font-size: 14rem;
    line-height: 1.5em;
}

.menu p {
    padding: 11rem 20rem;
    width: 300rem;
    color: #ffffff;
    font-size: 18rem;
    background-color: #39930d;
}

.menu ul {
    padding-left: 0;
    list-style: none;
}

.menu li {
    transition: all 1s ease;
}

.menu li:hover {
    background-color: #c6d3b4;
}

.menu a {
    display: block;
    padding-left: 20rem;
    color: #39930d;
    font-size: 14rem;
    line-height: 2.14em;
    text-decoration: underline;
    text-transform: uppercase;
    transition: all 1s ease;
}

.menu li:hover>a {
    margin-left: 5rem;
    color: #343434;
    text-decoration: none;
}

.copyright {
    margin: 0 -15rem;
    padding: 14rem 15rem;
    color: #fff;
    font-size: 14rem;
    background-color: #39930d;
}

@media screen and (min-width: 768px) {
    .header {
        justify-content: space-between;
    }
}